html {
    box-sizing: border-box;
}

body {
    background-color: #fcf5ed;
}

@font-face {
    font-family: "authenticratatouille";
    src: url(fonts/authenticratatouille.otf) format("postscript");
}

@font-face {
    font-family: "restaurant";
    src: url(fonts/restaurant.ttf) format("postscript");
}

#container {
    width: 1000px;
    margin: 25px;
}

h1 {
    padding: 10px;
    font-family: "authenticratatouille";
    color: #e9a252;
    font-size: 3em;
}

main {
    padding: 10px;
    width: 55%;
    float: left;
}

a {
    color: #bf1e2e;
}

a:hover {
    color: #e9a252;
}

h3 {
    color: #103853;
    font-family: "restaurant";
    font-size: 1.75em;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 0.75em;
}

aside {
    width: 30%;
    float: right;
    padding: 10px;
}

h2 {
    font-family: "authenticratatouille";
    font-size: 1.75em;
}

.square1 {
    position: relative;
    width: 50%;
    background-color: #bf1e2e;
}

.square1::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square2 {
    position: relative;
    width: 50%;
    background-color: #e9a252;
}

.square2::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square3 {
    position: relative;
    width: 50%;
    background-color: #103853;
}

.square3::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
