html {
	background-color: #fcf5ed;
}

@font-face {
    font-family: "authenticratatouille";
    src: url(fonts/authenticratatouille.otf) format("postscript");
}

@font-face {
    font-family: "restaurant";
    src: url(fonts/restaurant.ttf) format("postscript");
}

header {
    margin: 10px;
    padding: 10px;
    font-family: "authenticratatouille";
    color: #e9a252;
}

main {
	margin: 10px;
	padding: 10px;
}

h3 {
    color: #103853;
    font-family: "restaurant";
}

p {
	font-family:
}
